node_modules
dist
build
.turbo
.corepack
.local
.pnpm-store
.tools
.env
.env.local
coverage
*.log
*.tmp
*.tsbuildinfo
apps/mobile/android/.gradle
apps/mobile/android/app/build
apps/mobile/android/build
apps/mobile/android/local.properties
apps/backend/dist
apps/dashboard/dist
